sim
proj
*.ncd
*.ngd
*.ngr
*.pad
*.lso
*.prj
*.stx
*.xst
*.bld
*log
*.gise
*.lso
*.ncd
*.ngc
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xise
*.xpi
*.xst
*.html
*_map.*
*_pad.*
*.xrpt
*_usage.xml
*_summary.xml
*.bak
_ngo
iseconfig
*.swp
lab-synthdir
transcript
