#######################################################################
# Define Device, Package, And Speed Grade
#######################################################################
#
CONFIG PART = xc6slx16-3-csg324;

#######################################################################
# clk, rst
#######################################################################
##Clock signal
Net "clk" LOC=V10 | IOSTANDARD=LVCMOS33;
Net "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;


######################################
# VGA display                #
######################################
##
Net "red<0>" LOC = U7 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L43P, sch name = RED0
Net "red<1>" LOC = V7 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L43N, sch name = RED1
Net "red<2>" LOC = N7 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = *IO_L44P, sch name = RED2
Net "grn<0>" LOC = P8 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = *IO_L44N, sch name = GRN0
Net "grn<1>" LOC = T6 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L45P, sch name = GRN1
Net "grn<2>" LOC = V6 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L45N, sch name = GRN2
Net "blu<0>" LOC = R7 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L46P, sch name = BLU1
Net "blu<1>" LOC = T7 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L46N, sch name = BLU2
Net "HS" LOC = N6 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = *IO_L47P, sch name = HSYNC
Net "VS" LOC = P7 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = *IO_L47N, sch name = VSYNC

######################################
## Usb-RS232 interface               #
######################################
##
Net "fbart_in" LOC = N17 | IOSTANDARD=LVCMOS33; #Bank = 1, pin name = IO_L48P_HDC_M1DQ8, Sch name = MCU-RX
#Net "TxD" LOC = N18 | IOSTANDARD=LVCMOS33; #Bank = 1, pin name = IO_L48N_M1DQ9, Sch name = MCU-TX

######################################
## Switches		             #
######################################
##
Net "uCount_limit<0>" LOC = T10 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L29N_GCLK2, Sch name = SW0
Net "uCount_limit<1>" LOC = T9 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L32P_GCLK29, Sch name = SW1
Net "uCount_limit<2>" LOC = V9 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L32N_GCLK28, Sch name = SW2
Net "uCount_limit<3>" LOC = M8 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L40P, Sch name = SW3
Net "uCount_limit<4>" LOC = N8 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L40N, Sch name = SW4
Net "uCount_limit<5>" LOC = U8 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L41P, Sch name = SW5
Net "uCount_limit<6>" LOC = V8 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L41N_VREF, Sch name = SW6
Net "uCount_limit<7>" LOC = T5 | IOSTANDARD = LVCMOS33; #Bank = MISC, pin name = IO_L48N_RDWR_B_VREF_2, Sch name = SW7

######################################
## Buttons		             #
######################################
##
Net "reset_a" LOC = A8 | IOSTANDARD = LVCMOS33; #Bank = 0, pin name = IO_L33N, Sch name = BTNU
#Net "reset_a" LOC = B8 | IOSTANDARD = LVCMOS33; #Bank = 0, pin name = IO_L33P, Sch name = BTNS


Net "reset_out" LOC = U16 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L2P_CMPCLK, Sch name = LD0
Net "game_started_out" LOC = V16 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L2N_CMPMOSI, Sch name = LD1
Net "active_player_out<0>" LOC = U15 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L5P, Sch name = LD2
Net "active_player_out<1>" LOC = V15 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L5N, Sch name = LD3
Net "pad_error<0>" LOC = M11 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L15P, Sch name = LD4
Net "pad_error<1>" LOC = N11 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L15N, Sch name = LD5
Net "pad_error<2>" LOC = R11 |  IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L16P, Sch name = LD6
